<div class="modal-header">
    <button class="close" data-dismiss="modal">
        <span>&times;</span>
    </button>
    <h4 class="modal-title">{{ trans('defr.extension.exporter::message.choose_streams') }}</h4>
</div>

<div class="modal-body">
    <form action="{{ url('admin/' ~ namespace ~ '/streams/export') }}" method="POST">
        {{ csrf_field() }}
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <input data-toggle="all" type="checkbox">
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Slug
                        </th>
                        <th>
                            Model
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for stream in streams %}
                        <tr id="export-{{ stream.slug }}">
                            <td>
                                <input
                                    type="checkbox"
                                    name="streams[]"
                                    value="{{ stream.slug }}"
                                />
                            </td>
                            <td>
                                {{ trans(stream.name) }}
                            </td>
                            <td>
                                {{ stream.slug }}
                            </td>
                            <td>
                                {{ get_class(stream.entry_model) }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="50%" style="padding: 10px;">
                            <div class="text-center actions">
                                <button class="btn btn-sm btn-success" type="submit">
                                    <i class="fa fa-check"></i> Go
                                </button>
                            </div>
                            <div style="clear: both;"></div>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </form>
</div>

<script>
$(function () {
    $('[data-toggle="all"]').on('change', function (e) {
        var $this = $(e.target);
        $this.closest('table').find(':checkbox').prop(
            'checked',
            $this.is(':checked')
        );
    });
});
</script>
