<div class="modal-header">
    <button class="close" data-dismiss="modal">
        <span>&times;</span>
    </button>
    <h4 class="modal-title">{{ trans('defr.extension.exporter::message.choose_fields') }}</h4>
</div>

<div class="modal-body">
    <form action="{{ url('admin/' ~ namespace ~ '/fields/export') }}" method="POST">
        {{ csrf_field() }}
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <input data-toggle="all" type="checkbox">
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Slug
                        </th>
                        <th>
                            Field Type
                        </th>
                        <th>
                            Locked
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for field in fields %}
                        <tr id="export-{{ field.slug }}">
                            <td>
                                <input
                                    type="checkbox"
                                    name="fields[]"
                                    value="{{ field.slug }}"
                                    {{ field.locked ? '' : 'checked' }}
                                />
                            </td>
                            <td>
                                {{ trans(field.name) }}
                            </td>
                            <td>
                                {{ field.slug }}
                            </td>
                            <td>
                                {{ field.attributes.type }}
                            </td>
                            <td>
                                {{ field.locked ? 'Yes' : 'No' }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="50%" style="padding: 10px;">
                            <div class="pull-left actions">
                                <button class="btn btn-sm btn-success" type="submit">
                                    <i class="fa fa-check"></i> Run
                                </button>
                            </div>
                            <div style="clear: both;"></div>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </form>
</div>
